@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window {
  font-family: droid sans;
}

browser {
  margin-bottom: 40px !important; /*hope we can fix this*/
  border-bottom: solid red 0px;
  border-left: 4px solid white !important;  
  border-right: 0px solid white !important;  
  box-shadow: -5px 2px 5px -4px rgba(0,0,0,.1);
}

/* swap text & close button */
.tabbrowser-tab .tab {
  -moz-box-ordinal-group: 3 !important;
}
.tabbrowser-tab .tab-label {
  -moz-box-ordinal-group: 4 !important;
}
/* hide close button initially */
.tabbrowser-tab .tab-close-button {
  display: none !important;
}
/* show close + hide throbber & favicon on hover */
.tabbrowser-tab[selected]:not([pinned]):hover .tab-close-button {
  display: block !important;
}
.tabbrowser-tab[selected]:not([pinned]):hover .tab-icon-image {
  display: none !important;
}
.tabbrowser-tab[selected]:not([pinned]):hover .tab-throbber {
  display: none !important;
}
/* trim title padding */
.tabbrowser-tab:not([pinned]) .tab-text {
  margin-right: 0px !important;
}
/* hide tab close button */
.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button.always-right {
  display: none !important;
}
/* display close tab button on tab hover */
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important; 
  margin-right:4px !important;
  margin-left: -1px !important;
  margin-top: -3px !important;
}
.tabbrowser-tab:not([pinned]) .tab-icon-image:not([src]) {
  visibility: visible !important;
}
tab[busy] .tab-icon-image
{
  filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGZpbHRlciBpZD0iZ3JleXNjYWxlIj4KCjxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAwICAwICAwICAxIDAiLz4KCiA8L2ZpbHRlcj4KCiA8L3N2Zz4K#greyscale); 
}
.tabbrowser-tab:hover .tab-icon-image {
  filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGZpbHRlciBpZD0iZ3JleXNjYWxlIj4KCjxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAwICAwICAwICAxIDAiLz4KCiA8L2ZpbHRlcj4KCiA8L3N2Zz4K#greyscale);
} 
#navigator-throbber[busy="true"],
#sidebar-throbber[loading="true"],
.tabbrowser-tab .tab-icon-image[busy],
.alltabs-item[busy] > .menu-iconic-left > .menu-iconic-icon {
/*filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGZpbHRlciBpZD0iZ3JleXNjYWxlIj4KCjxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAwICAwICAwICAxIDAiLz4KCiA8L2ZpbHRlcj4KCiA8L3N2Zz4K#greyscale); */
}
.tab-throbber[progress], .tab-throbber[busy]
{
  filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGZpbHRlciBpZD0iZ3JleXNjYWxlIj4KCjxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAxLjAwMDAgMS4wMDAwIDEuMDAwMCAwIDAKCiAwICAwICAwICAxIDAiLz4KCiA8L2ZpbHRlcj4KCiA8L3N2Zz4K#greyscale); 
}
/* .tab-icon-image {filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQoNCiA8ZmlsdGVyIGlkPSJncmV5c2NhbGUiPg0KDQo8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwDQoNCiAwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDANCg0KIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMA0KDQogMCAgMCAgMCAgMSAwIi8+DQoNCiA8L2ZpbHRlcj4NCg0KIDwvc3ZnPg==#greyscale);} */

/* General style */
.tab-close-button, 
.urlbar-history-dropmarker,
#star-button,  
#page-proxy-favicon,
.scrollbutton-up,
.scrollbutton-down,
#go-button {
    display: none !important;
}



#navigator-toolbox {
  margin-left: 28px !important;
  margin-right: 4px !important; 
  margin-top: -3px !important;
  box-shadow: 0px 5px 5px -4px rgba(0,0,0,.4) !important; 
  z-index: 0 !important;
  background: transparent !important; 
  transition: all .2s ease .6s !important; 
  border-top-right-radius: 3px !important;
  padding: 0px !important; 
  border: none !important; 
}

#nav-bar {
  transition: all .7s ease .2s !important;
  background: white !important;
  border: none !important;
  margin-top: -2px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  max-height: 19px !important;
  opacity: 1 !important;
  z-index: 9001 !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0px !important; 
  padding-left: 4px !important;
  padding-right: 4px !important;
  border-top: 3px solid transparent !important; 
}

#nav-bar * {
  box-shadow: 0px 0px 0px transparent !important;
}

#urlbar-container {
  margin-top: 4px !important;
}

#urlbar {
  font-size: 9pt !important;
  color: #595c66 !important;
  background: white !important;
  border: 1px solid #d2d3d4 !important;
  background: #fff !important;
  padding: 0 !important;
  padding-left: 4px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-bottom: 2px !important;
  margin-top: -1px !important;
  max-height: 19px !important;
  min-height: 24px !important;     
}
#ulrbar, #urlbar * {
  border-left: none !important; 
  border-right: none !important;   
}

#identity-box {
  -moz-appearance: none !important;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-right: 2px !important;
  padding-left: 0px !important;
  margin-left: -4px !important;
  border-radius: 0px !important;
}

#addon-bar {
  background: #f6f6f6 !important;
  border-top: 1px solid #d2d3d4 !important;
  height: 22px !important;
  margin-left: 0px !important;
  border-left: 1px solid #d2d3d4 !important;
}


#searchbar .searchbar-textbox {
  font-size: 10pt !important;
  color: #444 !important;
  border: 1px solid rgba(0,0,0,0.18) !important;
  border-radius: 4px !important;
  background: #fff !important;
  box-shadow: none !important;
  height: 25px !important;
}

#tabbrowser-tabs {
  background: #fff !important;
  border: none !important;
  margin-top: 2px !important;
  padding: 0px !important;
  padding-top: 4px !important;
  min-width: 328px !important;
  max-width: 328px !important;
  overflow: hidden !important;
  margin-right: -304px !important;  
}

.tabbrowser-tab > .tab-stack {
  z-index: 1;
  position: relative;
}

.tabbrowser-tab {
  background: transparent;
  border: none !important;
  border-top: 1px solid transparent !important;
  margin: 0px !important;
  margin-right: 300px !important;
  margin-left: 2px !important;
  padding: 0px !important;
  padding-left: 1px !important;
  max-height: 9px !important;
  min-height: 22px !important;
  width: -moz-fit-content !important;
  max-width: -moz-fit-content !important; 
  min-width: -moz-fit-content !important;
  overflow: visible !important;
  display: list-item !important;
 }

.tabbrowser-tab:hover, .tabbrowser-tab:hover[selected=true] {
  border-radius: 4px !important;
  margin-right: 0 !important; 
  background: #a1b3ff!important;
}

.tabbrowser-tab[selected=true] .tab-icon-image {
  background: #fff !important;
  border: none !important;
  overflow: visible !important;
  min-height: 21px !important;
  min-width: 20px !important; 
  padding: 2px !important; 
  padding-bottom: 3px !important;
  padding-left: 3px !important; 
  padding-right: 1px !important;
  margin-left: -1px !important; 
  margin-top: 0px !important;
}

.tabbrowser-tab[selected=true] {
  box-shadow: -3px 0px 3px rgba(0,0,0,.1) !important;
  border-radius: 0px !important;
  background: #fff !important; 
  border-top-left-radius: 4px !important; 
  border-bottom-left-radius: 4px !important;
  margin-top: 0px !important; 
  padding-top: 0px !important; 
  border: none !important;
  border-left: 2px solid #a1b3ff !important;
}
/*how the popup text will look*/
.tab-text {
  font-weight: 600 !important;
  text-align: left !important;
  max-width: -moz-fit-content !important; 
  width: -moz-fit-content !important;
  min-width: -moz-fit-content !important;
  display: table-cell !important;
  margin-top: -3px !important;
  margin-bottom: 0px !important;
  margin-left: -3px !important;
  padding: 2px !important;
  background: transparent !important; 
  pointer-events: none !important;
  border-radius: 4px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  
}
.tabbrowser-tab[selected=true] .tab-text {
  padding-right: 0px !important;
  padding-left: 2px !important;
  min-width: 4px !important;
  min-height: 20px !important;
  margin-left: -5px !important;
  margin-top: 0px !important;
}
.tabbrowser-tab:hover .tab-text {
  color: rgba(255,255,255,0.9) !important;
  color: white !important;
  font-family: droid sans !important;
  font-size: 9pt !important;
  font-weight: 600 !important;
  background: #a1b3ff !important;
  border: 2px solid #a1b4ff !important;
  padding-right: 3px !important;
  width: -moz-fit-content !important;
  max-width: 328px !important;
}

.tab-icon-image {
  margin-top: -2px !important;
}

.tab-content {
  border: none !important;
  border-width: 0 0 !important;
  padding-bottom: 5px !important;
  -moz-margin-start: 0 !important;
  -moz-margin-end: 0 !important;
}

#reload-button,
#stop-button,
#downloads-indicator,
#downloads-button,
#appmenu-toolbar-button, 
#tabview-button,
#bookmarks-menu-button,
#bookmarks-button,
#home-button,
#alltabs-button,
#back-button,
#forward-button
{
  padding: 0px !important;
  margin: 0px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  border: none!important;
  opacity: .6;
}
#downloads-button {
  padding-top: 1px !important;
}

#reload-button:hover,
#stop-button:hover,
#downloads-indicator:hover,
#downloads-button:hover,
#appmenu-toolbar-button:hover, 
#tabview-button:hover,
#bookmarks-menu-button:hover,
#bookmarks-button:hover,
#home-button:hover,
#alltabs-button:hover,
#back-button:hover,
#forward-button:hover {
  opacity: 1;
}

#urlbar-reload-button,
#urlbar-stop-button,
#urlbar-go-button {
  background: white !important;
}



cscrollbar scrollbarbutton ,
scrollbar gripper {
  visibility: collapse;
}
scrollbar ,
scrollbar thumb
{
  -moz-appearance: none !important;
}
scrollbar[orient="vertical"] {
  -moz-margin-start: -1px;
background: white !important;
  min-width: 4px;
  max-width: 4px;
}
scrollbar[orient="horizontal"] {
  margin-top: -4px;
  min-height: 4px;
  max-height: 4px;
}
scrollbar {
  position: relative;
  background-image: none;
  z-index: 2147483647;
  background-color: transparent;
  transition: all 1.1s ease .1s !important;
  pointer-events: none !important;
}

scrollbar thumb {
  border: none !important;
  border-radius: 4px !important;
  background-color: #92969b;
  pointer-events: auto !important;
  transition: all 1.1s ease .1s !important;
  opacity: 1;
}
scrollbar:hover thumb {
  opacity: 1;
}
scrollbar thumb:active ,
scrollbar thumb:hover {
  opacity: 1;
  background-color: ButtonShadow;
}

#verticaltabs-splitter {display: none !important;}


.statuspanel-label {
  -moz-appearance: none !important;
  border-radius: 4px !important;
  border-top-left-radius: 4px !important;
  box-shadow: none !important;
  background: #a1b3ff !important;
  opacity: 1 !important;
  color: #ffffff!important;
  font-weight: bold !important;
  padding: 3px 8px !important;
  margin: 3px !important;
}


statuspanel *{
  box-shadow: none!important;
  border: none !important;
  position: absolute !important;
  bottom: 23px !important;
  right: 16px !important;
}
