@-moz-document domain("boards.4chan.org") { 
    * {
	font-family:droid sans !important;
}
#removestyle {
  position: fixed;
  top: 4rem;
  right: 4rem;
  padding: 1em;
}

/*
In order, we hide:
- mobile-only elements
*/

.mobile {
  display: none;
}

/*
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

*,
::before,
::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/*
https://github.com/h5bp/html5-boilerplate/commit/1d320b59a390041f25cf87d790f6472a25a512ef
*/

::-moz-selection {
  background: #b3d4fc;
}

::selection {
  background: #b3d4fc;
}

/*
Now, normally you redefine the :focus style. I'm not.
!important needed because Stylish.
*/

:focus {
  outline: 0 !important;
}

html {
  font: 1em/1.4 droid sans;
  color: #3d3d3d;
  background-color: #f4f4f4;
  background-color: #fff;
  overflow-y: scroll;
  /*
word-break: break-all;
word-wrap: break-word;
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
*/
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
background: white;
}

/*
!important needed because Stylish.
*/

a {
  color: #a1b3ff !important;
transition: color .6s ease !important;
  text-decoration: none !important;
}
a:hover {
          color: #1e90ff !important;
        }

/*
Normalise font-weight across browsers and
ensure the right weight is chosen, not a
faux-bold which looks icky.
*/

b,
strong,
.name,
.subject,
.current {
  font-weight: 700;
transition: background-color .6s ease !important;
}
.replylink:hover, .current:hover {color: white !important; background-color: #1e90ff !important;}
 #shortcuts *:hover {background-color: #1e90ff !important;}
.replylink, #shortcuts * {transition: background-color .6s ease !important;}
/*
Remove default margin on blockquotes.
*/

blockquote {
  margin: 0;
}

/*
Correct font family set oddly in Chrome,
and set tripcodes to a monospace font
while we're at it.
*/

pre,
.postertrip {
  font-family: monospace;
  font-size: 1em;
}

/*
[code] code tags for /g/ and others [/code].
Also improve readability of pre-formatted
text in all browsers.
*/

pre {
  /*
color: #fafafa;
background-color: #3d3d3d;
padding: .5em;
border: 1px solid #2d2d2d;
margin: 0;
*/
  display: inline-block;
  white-space: pre-wrap;
  /*
word-break: break-all;
word-wrap: break-word;
*/
}

/*
Since we block the default 4chan styles,
we then need to style the prettyprint! So,
this one is pretty cool. Feel free to pick
another style from the site and replace this
section to suit your preference.
I chose Tomorrow Night Eighties;
http://jmblog.github.io/color-themes-for-google-code-prettify/
*/

.prettyprint .str { color: #9c9; }
.prettyprint .com { color: #999; }
.prettyprint .atv { color: #6cc; }
.prettyprint .typ,
.prettyprint .fun { color: #69c; }
.prettyprint .kwd { color: #c9c; }
.prettyprint .lit,
.prettyprint .atn,
.prettyprint .dec { color: #f99157; }
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo { color: #ccc; }
.prettyprint .tag,
.prettyprint .var { color: #f2777a; }

/*
Remove the gap between images and the
bottom of their containers: h5bp.com/i/440
*/

img {
  vertical-align: middle;
}

/*
Correct font-family, font-size and colour
inheritance, and remove different margins.
!important for 4 of themm, because Stylish.
*/

button,
input,
select,
textarea {
  font-family: inherit !important;
  font-size: 100% !important;
  color: inherit !important;
  line-height: inherit !important;
  margin: 0;
}

/*
Firefox messes with the line-height apparently.
!important because Stylish.
(this fix included in the CSS above)
*/
/*
button,
input {
line-height: normal !important;
}
*/

/*
Improve usability and consistency for buttons.
*/

button,
html input[type=button],
html input[type=submit] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

/*
Remove inner padding and border in Firefox.
*/

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
Improve readability and alignment, along with
vertical resizing only.
*/

textarea {
  vertical-align: top;
  resize: vertical;
}

/*
Here, we clearfix posts to prevent collapsing.
http://nicolasgallagher.com/micro-clearfix-hack/
*/

/*
::after {
content: '';
display: table;
clear: both;
}
*/

a.quotelink.inlined {  outline: 0 !important;opacity: 1 !important;}

.ad-plea-middle, .ad-plea-top, .ad-plea-bottom, a.hide-reply-button, div.sideArrows, div.boardBanner > img, .qr-link, div#absbot, div.stylechanger, div.deleteform, div.navLinks, a.hide-thread-button, div.reply input, div.navLinksBot, input[type="checkbox"]#imageExpand, .hide_reply_button.stub a::before, .postInfo input[type="checkbox"], #toggleMsgBtn, #styleSwitcher, #info, #pass > span, input[type="Submit"], #recaptcha_reload_btn, #recaptcha_switch_audio, #recaptcha_whatsthis, hr, .mobile {
	display:none !important;
}

.lol {opacity: 0 !important; transition: opacity .6s ease !important;}

.inline .come-in {transform: scale(0.05); opacity: 0;
        animation:qp-in .6s ease forwards;}
.inline {border: none !important; }
.inline .postContainer {box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,.1);}
#qp {   transform: translateY(-150vh);
	opacity:.05;
	animation:qp-in .6s ease forwards;
 width: 70%; z-index: 5000 !important;
 left: 5em !important; right: 5em !important;
pointer-events: none;

}
#qp .postContainer {width: 100%;
border-radius: 4px; box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);}
@keyframes qp-in {to { transform: translateY(0px); opacity: 1;}}

#qp.lol {transform: translateY(-150vh) !important; transition: all .9s ease !important;}
.qphl {outline: none !important;opacity: 0; }
.post {transition: opacity .3s ease;}
#fourchanx-settings {
	background:#fff !important;
	border-radius:5px !important;
	border:1px solid #aaa !important;
	box-shadow:0px 2px 8px rgba(0,0,0,.8) !important;
	transform: translateX(100%); opacity: 0;
	animation:sets-in .9s ease forwards; 
transition: transform .9s ease !important;

}

@keyframes sets-in {
from {transform: translateX(100%) translateY(-50%); opacity: 0}
  to {transform: translateX(-50%) translateY(-50%); opacity: 1;}}

#fourchanx-settings.lol {transition: all .9s ease !important;
transform: translateX(100%) translateY(-50%) !important;}



.dialog.has-captcha {
	background:transparent!important;
	box-shadow:none!important;
}

#qr {
	position:absolute !important;
	top:-16px !important;
left:0% !important;
	width:0px !important;
	z-index:1;
}

.field[data-name="name"] {
	border-top-left-radius:4px !important;
}

.field[data-name="sub"] {
	border-top-right-radius:4px !important;
}


#qr-filename-container.field {
	border-bottom-left-radius:4px !important;
}





#qr input {
	margin-right:-1px !important;
	margin-bottom:-1px!important;
}

 .move {
	position:fixed !important;
	right:0px !important;
	bottom:0px !important;
	margin-right:0px !important;
	padding-top:3rem!important;
	padding-right:100% !important;
	padding-bottom:0px !important;
	background-color:transparent !important;
	color:transparent !important;
	font-size:0px !important;
max-height: 0px !important;
max-width: 0px !important;
	cursor:progress !important;
	border:solid red 0px;
background: transparent !important;

}
#menu.lol {opacity: 0;}
#qr form {
	position:fixed !important;

	right:0em !important;
left: 0em;
	bottom:-2em;
background: white;
	margin-bottom:14px!important;
	padding-top:0px !important;
	padding-right:0px !important;
	padding-bottom:0px !important;
margin: 0;
padding: 0em !important;
padding-top: 0 !important;

	/*BOOKMARK FOR QR HIDING*/
	transform:rotate(0deg) translateY(100%) translateX(0%);
	opacity:1;
	transform-origin:bottom right;
	z-index:1 !important;
	transition:all 0.7s ease .2s !important;
box-shadow: 0px 0px 4px 1px rgba(0,0,0,.1);
border-radius: 0px;


}

#qr form:hover, #qr.has-focus > form, #qr:hover > form {
	right:0em !important;
	bottom:-1.3em;

	transform:rotate(0deg) translateY(0%) translateX(0%);
	opacity:1;
	pointer-events:auto;
}


#qr-filerm {
	padding-top:2px !important;
	float:left !important;
	height:20px !important;
	margin-bottom:-2px !important;
	color:#aaa !important;
	background:#fff !important;
}

#dump-button {
	float:left !important;
	height:20px !important;
	margin-bottom:-2px !important;
	color:#aaa !important;
	background:#fff !important;
}

#file-n-submit {
	margin-top:-1px !important;
}

#qr input[type="submit"] {
    display: table !important;
    position: absolute !important; float: right !important;
    right: 1px !important; bottom: 2px !important;
    width: 102px !important; height: 22px !important;
    margin-top: -29px !important; margin-left: 0px !important;
    padding-bottom: 2px !important;
    color: #ccc !important;
    border-left: 0px !important;
    font-size: 9pt !important;
    text-transform: lowercase !important;
    -moz-appearance: none !important;
    background: #fff !important;
    border: solid #ccc 1px !important;
    border-left: solid #ccc 0px!important;
    border-bottom-right-radius: 4px !important;
    border-color: transparent !important;
}
#qr [type="submit"] {
    background: white!important 
}


#dump-list-container {background: white;}
#qr form >*, #qr * {border-color: transparent !important;}


.field[data-name="com"] {min-height: 3.5rem !important;}



#header-bar {


background: #fff !important;
border: 1px solid #ddd !important;
box-shadow: 0px 2px 4px rgba(0,0,0,.10)!important;
border-top: 1px solid #ddd!important;
border-color: white !important;
border-bottom: 1px solid #ddd !important;
padding: .5em !important;
margin: .5em !important;
margin-left: 0 !important;
margin-right: 0 !important;
margin-top: 0 !important;

border-bottom: 1px solid #aaa !important;
border-bottom-color: white !important;
border-radius: 4px !important;
border-bottom-right-radius: 0px !important;
border-bottom-left-radius: 0px !important;

}



body::before {content: " "; z-index: 500;
position: fixed; top: 0; left: 0; right: 0; height: .5em; background: #fff;}
body::after {content: " "; z-index: -10;
position: fixed; top: 37px; left: 12px; right: 12px; height: 5px; background: #ababab;}



.quotelink.you {font-size: 0px;}
.quotelink.you:after {font-size: 8pt; font-weight: bold; content: "@eric"; color: #cc6161;}


/*
#header-bar:after {content: " "; position: fixed; right: 7px; top: 37px;
width: 0px;
height: 0px;
border-style: solid;
border-width: 5px 5px 0 0;
border-color: #aaa transparent transparent transparent;}
#header-bar:before {content: " "; position: fixed; left: 7px; top: 37px;
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 5px 5px 0;
border-color: transparent #aaa transparent transparent;}
*/

.postContainer {margin: 0em; padding: 1em; margin-bottom: 0; margin-top: -1px;
background: #fefefe; border-radius: 0px; border: 1px solid #eee;}
/*a.summary {float: right; margin-right: 1em; margin-top: -4em; background: white;
overflow: visible;}*/
a.summary { margin-left: 4em;}

.opContainer {margin-bottom: 0em; border-top-right-radius: 5px; border-top-left-radius: 5px;}

.postMessage {padding: .5em;  }
.boardTitle {text-shadow: -1px -1px 1px #ddd!important; 
font-size:8em; font-weight: 600; padding: 0em; text-align: center;
 padding-top: .3em; padding-bottom: .3em;
 background: #fff; top: .5em; margin-bottom: .1em;
 border-radius: 5px; color: #f4f4f4; border: 1px solid transparent;
background: transparent !important; }
.boardSubtitle {font-weight: 600;
text-align: center; color: #aaa; margin-top: -3em; margin-bottom: 2em;}
.boardSubtitle a {color: #a1b3ff !important;}
.boardSubtitle a:hover{color: #1e90ff !important;}
#qp {background: transparent !important; border: none !important; box-shadow: none !important;}
.op .postInfo {position: fixed; top: 1em;}
.op {padding-top: 1.5em;}
.pagelist {text-align: center; padding: 1em; font-size: 1em;margin-top: -3em; margin-bottom: 3em;
margin-left: 0; margin-right: 0;}
.pages a::after, .pages a::before {content: "  ";}
.pages {color: transparent; font-weight: 600;}
.next, .prev {display: none;}

.brackets-wrap::before, .brackets-wrap::after { display: none; }

#notifications >* {transform: translateY(-150vh); opacity: 0;	animation:notes-in .9s ease forwards; 	
background: #a1b2ff !important; margin-top: 5px !important;	 
}

#notifications a {color: white !important;}
#notifications a:hover {color: red !important;}
.notification.lol {transform: translateY(150vh)!important; opacity: 0!important; transition: all .9s ease!important; }


@keyframes notes-in {
  to {transform: translateY(0%); opacity: 1; }}
.entry {animation:entry-in .9s ease forwards; }
@keyframes entry-in {from{transform:translateY(0%); opacity: 0;} to{transform: translateY(0%); opacity: 1;}}

#notifications .warning {background: #ffa1b2 !important;}

.postContainer.quotesYou {
margin-top: -2px;
border-left: 4px solid #a1c1ff !important;
}
.postContainer.yourPost{
border-left: 4px solid #cc6161 !important;} 
.post.reply{border: none !important;}
.file {padding-left: .5em;}
.fileText a {padding-right: 1em;}


#qp .opContainer .file {padding-top: 1.5em;}
a.menu-button {float: right; opacity: 0; transition:all .9s ease !important;
margin-top: -.8em; margin-right: -.8em;}
a.menu-button:hover, a.menu-button.active {opacity: 1;}

#menu, .submenu {background: #fff !important; }
#menu * {font-size: 10px !important;}

.thread {margin-bottom: 1em;}

.quote {color: #66aa66;}

a.menu-button, .replylink, .current, .shortcut, #update-status.new {background-color: #a1b2ff !important;
color: white !important; border-radius: 3px !important; padding: .2em !important;
font-weight: 600 !important;}
#update-status.new {background-color: transparent !important;}
.shortcut a {color: white !important;}
.postNum span {font-size: 0px;}
.postNum span .replylink {font-size: 0px !important;}

.replylink::after {position: fixed; top: .9em; right: .9em; content: "Reply"; color: transparent;
pointer-events: none; transition: background .6s ease;}
.backlink:hover:after, .come-in .replylink:hover:after {background: #1e90ff ;}
.come-in .replylink::after {color: white; background: #a1b3ff; border-radius: 3px; padding: .1em; pointer-events: auto; padding-bottom: .1em; font-size: 10px;}




#board-list {position: relative !important; top: 1px !important;}
.backlink {font-size: 0;}
.backlink:after {font-size: 12px; color: white; background: #a1b3ff;padding-top: .1em; padding-left: .2em; padding-right: .2em; border-radius: 3px; margin-left: 1em;transition: background .6s ease;
content: '\e800'; }

.menu-button {color: transparent;}
.menu-button:after {content: '\e801'; font-family: lol; color: white; margin-left: -1.1em;}

.prettyprint {border: 1px solid #ddd; padding: 1em; box-shadow: inset 2px 2px 2px rgba(0,0,0,.1)}



/*

 .dateTime::before, .dateTime::after {padding-left: 1em; padding-right: 1em; color: #999; content: "⚋";}
 .backlink:first-child::before {content: "⚋"; font-size: 10px; padding-left: .5em; color: #999;}
.postNum {padding: 0; margin: 0;}

*/

.dateTime {padding: 1em; color: #999;}

.replyContainer .fileThumb img {float: left; margin-right: 1em;}
.postContainer {overflow: auto;}

#globalMessage {margin: 1em; text-align: center; 
padding: 1em; border-radius: 5px; background: white; border: 1px solid #eee;}


.hide-announcement:after {position: relative; right: -.5em; top: .7em; font-size: 10px; color: white; text-align: left; transition: background .6s ease;
font-weight: 600; background: #a1b3ff; padding: .2em; border-radius: 4px; content: "hide";}
.pages strong a:hover, .hide-announcement:hover:after {background: #1e90ff }

a.hide-announcement:hover, a.hide-announcement {color: transparent !important;}

#full-board-list {font-size: 0}
#full-board-list a {font-size: 10px; margin-right: 2px;}

.pages strong a {background: #a1b3ff; color: white !important; transition: background .6s ease !important; border-radius: 3px; padding: .2em;}


.replyContainer {border-top-color: white !important; border-bottom-color: white;}

.opContainer {border-bottom-color: white; background: white;margin-top: 2em; border-radius: 0px;
box-shadow: 0px -4px 3px -2px rgba(0,0,0,.1);}

.postContainer {border-color: transparent !important; }


.board_mlp::after, .board_b::after {content: url('https://www.gnu.org/music/FreeSWSong.ogg');}
.board_mlp::before, .board_b::before {content: "fuck u faget!!!"; width: 100%; height: 100vh; position: fixed; top: 0; left: 0; z-index: 9000000000000000000000000000001; font-size: 30vh; color: red; padding: 2vh; text-align: center; 	animation:fags .1s linear infinite; }
@keyframes fags {
25% {color: green; background-color: red;}
50% {color: red; background-color: green;}
75% {color: blue; background-color: yellow;}
100% {color: yellow; background-color: blue;}}

.come-in {transform: translateY(400px); opacity: 1; 
	animation:qp-in .6s ease forwards;
}

.boardTitle:hover {animation:10s eggs 10s ease infinite;  }
.boardTitle:active {animation: .3s fags 3s ease infinite;}
@keyframes eggs {
25% {transform: translateY(0px);}
50% {transform: rotateX(180deg);}
75% {transform: rotateZ(180deg);}
100% {transform: rotateX(0deg) rotateZ(0deg);}}


#qp .backlink {border-bottom: none !important;}


.postContainer {box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1); margin: 1em; margin-left: 4em; margin-right: 4em; border-radius: 5px;  }
.postContainer:last-child {margin-bottom: 4em;}


/* turn it down a bit :)
html::after {content: " "; pointer-events: none;
position: fixed; top: 0; left: 0; width: 100%; height: 100vh; 
background: rgba(0,0,0,.4); z-index: 90000000001;}
*/

/*4chanbuzz
body {counter-reset: section;}
.postContainer::after {counter-increment: section;  content: counter(section);}
.postContainer:nth-of-type(3n+0)::after {content: "fizz"}
.postContainer:nth-of-type(5n+0)::after {content: "buzz"}
.postContainer:nth-of-type(15n+0)::after {content:"fizzbuzz"}
.postContainer::after {color: white; font-weight: 600; position: fixed;
bottom: .5em; right: .5em; background: #a1b3ff; padding: .2em; border-radius: 3px;}
.postContainer:hover::after {animation: eggs 3s ease infinite;}
*/
}

